{% extends "layout.html" %}
{% block title %}Add Player to Squad{% endblock %}
{% block content %}
    <h1>Add Player To {{team[1]}}</h1>
    <form method="POST">
            <div class="field">
                <div class="control">
                    <div class="select is-primary">
                    <select name="playerbox" id="playerbox">
                        <option disabled selected value> -- select player -- </option>
                        {% for player in playerList %}
                        <option value="{{player[0]}}">{{player[1]}}</option>
                        {%endfor%}
                    </select>
                    </div>
                </div>
            </div>
            <div>
                <label>Position</label>
                <div>
                    <input type="text" name="position" id="position">           
                </div>    
            </div> 
            <div>
                <label>Start date </label>
            </div>  
            <div>
                <input type="text" name="startdate" id="startdate">
            </div> 
            <div>
                <label>Duration </label>
            </div>   
            <div>
                <input type="text" name="duration" id="duration">
            </div>
            <div>
                <label>Amount </label>
            </div>  
            <div>
                <input type="text" name="amount" id="amount">
            </div>
            <br>
            <div>
                <input class="button is-success" type="submit" value="Add Player">
            </div>         
        </form> 
    {% endblock %}
