{% extends "layout.html" %}
{% block title %}Player Added{% endblock %}
{% block content %}
        <div style="text-align: center;">
            <h1 id="header">{{'Update ' + stadium.name if update else 'Add Stadium'}}</h1>
        </div>
        <section class="hero is-medium is-primary is-bold" >
        <div class="columns">
            <div class="column is-4"></div>
            <div class="column is-4">
                <form method="POST">
                    <label>Stadium Name</label>
                    <input class="input" type="text" onkeyup="success()" name="name" placeholder="Stadium Name" maxlength="20" value="{{stadium.name if update else ''}}"/>
                    <label>Stadium Capacity</label>
                    <input class="input" onkeyup="success()" id="capacity" type="number" name="capacity" placeholder="Stadium Capacity" maxlength="20" value="{{stadium.capacity if update else 0}}"/>
                    <label>Stadium City</label>
                    <input class="input" type="text" id="city" onkeyup="success()" name="city" placeholder="Stadium City" maxlength="20" value="{{stadium.city if update else ''}}"/>
                    <label>Establish Year</label>
                    <input class="input" type="number" id="establishyear" onkeyup="success()" name="establishyear" placeholder="Establish Year" min="1860" value="{{stadium.establishyear if update else 1860}}"/>
                    <label>Budget</label>
                    <input class="input" type="number" id="budget" onkeyup="success()" name="budget" placeholder="Cost" min="0" value="{{stadium.budget if update else 0}}"/>
                    <br/>
                    <br/>
                    <input class="button is-danger" id="save" type="submit" title="Save Stadium" value="Save" disabled>
                </form> 
            </div>
            <div class="column is-4"></div>
        </div>
    </section>
    <script>
        function success() {
	        if(document.getElementById("city").value==="") { 
                document.getElementById('save').disabled = true; 
            } else { 
                document.getElementById('save').disabled = false;
            }
        }
    </script>
{% endblock %}
