{% extends "layout.html" %}
{% block title %}Add Match{% endblock %}
{% block content %}
    <div style="text-align: center;">
        <h1>Add Match</h1>
    </div>
    <section class="hero is-medium is-primary is-bold" >
        <br><br>
        <div class="columns" style="margin-left: 20%;">
            
            <div class="column" >
                <form method="POST">
                    <div class="columns">
                        <div class="column is-2">
                            <label>Home Team</label>
                            <div class="field">
                                <div class="control">
                                    <div class="select is-primary">
                                        <select name="hometeamid">
                                                <option disabled selected value>select hometeam</option>
                                            {% for team in teams %}
                                                <option value="{{team[0]}}">{{team[1]}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-2">
                            <label>Away Team</label>
                            <div class="field">
                                <div class="control">
                                    <div class="select is-primary">
                                        <select name="awayteamid">
                                                <option disabled selected value>select awayteam</option>
                                            {% for team in teams %}
                                                <option value="{{team[0]}}">{{team[1]}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>       
                    </div>
                    <div class="columns">
                        <div class="column is-2">
                            <label>Home Score</label>
                            <input class="input" onkeyup="scorecontrol()" id="homescore" name="homescore" type="number" placeholder="Home Score"/>
                        </div>
                        <div class="column is-2">
                            <label>Away Score</label>
                            <input class="input" onkeyup="scorecontrol()"  id="awayscore" name="awayscore" type="number" placeholder="Home Score"/>
                        </div>
                    </div>
                    <div class="columns">
                            <div class="column is-2">
                                <label>Extra Time for First Half</label>
                                <input class="input" id="extratime1" name="extratime1" type="number" placeholder="ET 1st Half"/>
                            </div>
                            <div class="column is-2">
                                <label>Extra Time for Second Half</label>
                                <input class="input" id="extratime2" name="extratime2" type="number" placeholder="ET 2nd Half"/>
                            </div>
                        </div>
                    <div class="columns">
                        <div class="column is-2">
                            <label>Stadium</label>
                            <div class="field">
                                <div class="control">
                                    <div class="select is-primary">
                                        <select name="stadiumid">
                                                <option disabled selected value>select stadium</option>
                                            {% for stadium in stadiums %}
                                                <option value="{{stadium[0]}}">{{stadium[1]}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-2">
                            <label>League</label>
                            <div class="field">
                                <div class="control">
                                    <div class="select is-primary">
                                        <select name="leagueid">
                                                <option disabled selected value>select league</option>
                                            {% for league in leagues %}
                                                <option value="{{league[0]}}">{{league[1]}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>       
                    </div>
                    <div>
                        <label>Match Date</label>
                    </div>
                    <input class="input" name="matchdate" type="date" placeholder="Match Date" style="width: 33%;"/>
                    <br/>
                    <br/>
                    <input class="button is-danger" id="submit" type="submit" value="Save Match" />
                    <br><br>
                </form>
            </div>
            
        </div>
    </section>
    <script>
        function scorecontrol(){
            if(document.getElementById("homescore").value < 0 || document.getElementById("homescore").value >= 15 || document.getElementById("awayscore").value < 0 || document.getElementById("awayscore").value >= 15){
                document.getElementById('submit').disabled = true; 
            }else { 
                document.getElementById('submit').disabled = false;
            }

        }
    </script>
            
{% endblock %}
