{% extends "layout.html" %}
{% block title %}Add Person{% endblock %}
{% block content %}
    <h1>Add Person</h1>

    <form method="POST"  >
        <label>Name: </label>
        <input class="input" name="name" id="name" type="text" />
        <label>Birth Year: </label>
        <input class="input" name="birthyear" id="birthyear" type="number" />
        <label>Nationality</label>
        <input class="input" name="nationality" id="nationality" type= "text" />
        <br/>
        <br/>
        <input class="button is-success" value="Save" type="submit"/>
    </form>
{% endblock %}
