{% extends "layout.html" %}
{% block title %}Add League{% endblock %}
{% block content %}
    <h1>Add League</h1>
    <form method="POST" >
        <label>Name: </label>
        <input class="input" name="name" id="name" type="text" />
        <br>
        <label>Team count: </label>
        <input class="input" name="teamcount" id="teamcount" type="number" />
        <br>
        <label>Country: </label>
        <input class="input" name="country" id="country" type= "text" />
        <br/>
        <br/>
        <input class="button is-success" value="Save" type="submit"/>
    </form>
{% endblock %}
