{% extends "layout.html" %}
{% block title %}Coach Profile{% endblock %}
{% block headerTitle %}{{coach[1]}}{% endblock %}
{% block subTitle %}{{coach[0]}}{% endblock %}
{% block content %}
    <section class="hero is-primary">
        <div class="hero-body has-background-info">
            <div class="columns">
                <div class="column is-3"></div>                   
                <div class="column is-3">
                    <article class="tile is-child notification is-warning" style="height:100%">
                        <img class="tile__img" src="{{coach.personphoto}}" alt="yok" style="width: 100%" />
                        <h1 ><a href="/person/update_{{coach.id}}">{{coach.name}}</a></h1>
                        <h3 >Age: {{year-coach.birthDay}}</h3>
                        
                    </article>
                </div>
                <div class="column is-3" >
                    <article class="tile is-child notification is-warning" style="height:100%">
                        <table >
                            <tr>
                                <th>Team</th>
                                <td>{{teamName}}</td>
                            </tr>
                            <tr>
                                <th>Nationality</th>
                                <td>{{coach.nationality}}</td>
                            </tr>
                            
                        </table>
                        <br><br><br><br><br><br><br><br>
                    </article>
                </div>
            </div>
        </div>

    </section>
    
    
    
{% endblock %}
