{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Our football database</h1>
    <br><hr>
    <div>
        <table class="table is-hoverable">
            <thead>
                <tr>
                  <th>Categories</th>
                  <th>Number of Records</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                        <td>Person</td>
                        <td>{{arguments.person_count}}</td> 
                  </tr>
                  <tr>
                        <td>Team</td>
                        <td>{{arguments.teams_count}}</td>
                  </tr>
                  <tr>
                        <td>League</td>
                        <td>{{arguments.leagues_count}}</td>
                  </tr>
                  <tr>
                        <td>Match</td>
                        <td>{{arguments.matches_count}}</td>     
                  </tr>
                  <tr>
                        <td>Stadium</td>
                        <td>{{arguments.stadiums_count}}</td>      
                  </tr>
                  <tr>
                        <td>Goal</td>
                        <td>{{arguments.goals_count}}</td>
                  </tr>
              </tbody>
        </table>


    </div>
{% endblock %}
