<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Football - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='sytles.css') }}"/>
    
  </head>
  <body>
    <header>
      <nav class="navbar is-primary">
        <div class="container">
          <div class="navbar-brand">
              <a class="navbar-item is-active" href="{{ url_for('home_page') }}" style="font-weight:bold;">
                  Football Database
              </a>
          </div>
        
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start">
            <a href="{{ url_for('players_page') }}" class="navbar-item">Players</a>
            <a href="{{ url_for('teams_page') }}" class="navbar-item">Teams</a>
            <a href="{{ url_for('matches_page') }}" class="navbar-item">Matches</a>
            <a href="{{ url_for('leagues_page') }}" class="navbar-item">Leagues</a>
            <a href="{{ url_for('add_data_page') }}" class="navbar-item">Add Data</a>
          </div>
        </div>
        </div>
      </nav>
    </header>

    <main>
      <section class="section">
        <div class="content">
          {% block content %}{% endblock %}
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="content">
        <small>&copy; 2019, itucsdb1901</small>
      </div>
    </footer>
  </body>
</html>
