{% extends "layout.html" %}
{% block title %}Matches{% endblock %}
{% block content %}
    <h1>Leagues Page</h1>
    <table class="table is-hoverable">
            <tr>
                <th>League</th>
                <th>Team number</th>
            </tr>
            {%for league in leagues%}
            <tr>
                <td ><a href="/league_{{league[0]}}">{{league[1]}}</a></td>
                <td>{{league[2]}}</td>
            
            </tr>
            {%endfor%}    
        </table>
{% endblock %}
