{% extends "layout.html" %}
{% block title %}Matches{% endblock %}
{% block content %}
    <h1>Matches Page</h1>
    <table class="table is-hoverable">
        <tr>
            <th>Home Team</th>
            <th>Home Score</th>
            <th>Away Score</th>
            <th>Away Team</th>
            <th>Stadium</th>
            <th>League</th>
            <th>Detail</th>
            <th>Delete match</th>
            <th>Add Detail</th>
        </tr>
        {%for match in matches%}
        <tr>
            <td><a class="has-text-info" href="/teams/detail_{{match[7]}}">{{match[0]}}</a></td>
            <td>{{match[2]}}</td>
            <td>{{match[3]}}</td>
            <td><a class="has-text-info" href="/teams/detail_{{match[8]}}">{{match[1]}}</a></td>
            <td>{{match[4]}}</td>
            <td>{{match[5]}}</td>
            <td>
                <form method="POST" name ="detail{{match[9]}}" action="/match_detail_{{match[9]}}">
                    <button class="button is-danger" action="submit" id="detailButton" name="detailButton" >See Detail</button>
                </form>
            </td>
            <td>
                <form method="POST" name ="delete_{{match[9]}}" action="/delete_match_{{match[9]}}">
                    <button class="button is-danger" action="submit" id="delete_match" name="delete_match" >Delete Match</button>
                </form>
            </td>
            <td>                
                <form method="GET" name ="add_detail{{match[9]}}" action="/add_match_detail_{{match[9]}}">
                    <button class="button is-danger" action="submit" id="add_detailButton" name="add_detailButton" >Add Detail</button>
                </form>
            </td>
        </tr>
        {%endfor%}    
    </table>
    
{% endblock %}
