{% extends "layout.html" %}
{% block title %}Players{% endblock %}
{% block content %}
    <h1>Players Page</h1>
    <form action="/players/search_player" method="POST">
        <div class="columns">
            <div class="column is-one-fifth">
                <input class="input is-primary" type="text" name="search" id="search" placeholder="Search..">
                <button action='submit'>Search Players</button>
            </div>
        </div>
    </form>
    
    {% if players %}
    <table>
        <tr>
            <th>id</th>
            <th>Name</th>
        </tr>
        {% for player in players %}
        <tr>
            <td>{{player[0]}}</td>
            <td>{{player[1]}}</td>
            <td>
                <form method="POST" name ="detail{{player[0]}}" action="/players/detail_{{player[0]}}">
                    <input type="submit" id="detailButton" name="detailButton" value="SEE PLAYER" />
                </form>
            </td>
            
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
