{% extends "layout.html" %}
{% block title %}Player Profile{% endblock %}
{% block headerTitle %}{{player[1]}}{% endblock %}
{% block subTitle %}{{player[0]}}{% endblock %}
{% block content %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="subtitle">{{player.name}}</h1>
                <h3>Age: {{year-player.birthDay}}</h3>
            </div>
        </div>
        <form method="POST" name ="delete{{player.id}}" action="/player/delete_{{player.id}}">
            <input type="submit" id="deleteButton" name="deleteButton" value="DELETE" />
        </form>
    </section>
    <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-warning">
                <table >
                    <tr>
                        <th>Team</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Nationality</th>
                        <td>{{player.nationality}}</td>
                    </tr>
                    <tr>
                        <th>Kit Number</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Position</th>
                        <td>MO</td>
                    </tr>
                </table>
        </article>
    </div>
    
    
{% endblock %}
