{% extends "layout.html" %}
{% block title %}Players{% endblock %}
{% block content %}
    <h1>Players Page</h1>
    {% if players %}
    <table>
        {% for player in players %}
        <tr>
            <td>{{player}}</td>
            <td>
                <form method="POST" name ="{{player[0]}}" action="/">
                    <input type="submit" id="deleteButton" name="deleteButton" value="DELETE" />
                </form>
            </td>
            
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
