{% extends "layout.html" %}
{% block title %}Teams{% endblock %}
{% block content %}
    <h1>Teams Page</h1>
    <form action="/teams/search_team" method="POST">
        <div class="columns">
            <div class="column is-one-fifth">
                <input class="input is-primary" type="text" name="search" id="search" placeholder="Search..">
            </div>
            <div class="column">
                <button class="button is-primary" action='submit'>Search Teams</button>
            </div>
        </div>
    </form>
    {% if teams %}
    <table class="table is-hoverable">
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>League</th>
        </tr>
        {% for team in teams %}
        <tr>
            <td>{{team[0]}}</td>
            <td><a href="/teams/detail_{{team[0]}}">{{team[1]}}</a></td>
            <td><a href="#">{{team[2]}}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
